[Unit]
Description=KindaVM Daemon
After=network.target kindavm-init-hid.service kindavm-init-hdmi.service
Requires=kindavm-init-hid.service kindavm-init-hdmi.service

[Service]
Type=simple
ExecStart=/usr/local/bin/kindavmd
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target
