[Unit]
Description=KindaVM HDMI Initialization
After=sys-kernel-config.mount systemd-modules-load.service
Requires=sys-kernel-config.mount systemd-modules-load.service
Before=multi-user.target

[Service]
Type=oneshot
ExecStart=/usr/bin/v4l2-ctl --device=/dev/video0 --set-edid=file=/usr/local/lib/kindavm/edid.hex --info-edid
ExecStop=/usr/bin/v4l2-ctl --device=/dev/video0 --clear-edid
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
